<html>
    <head>
        <%-include("__bootstrap.ejs")%>
    </head>
    <body class="d-flex justify-content-center align-items-center">
        <img src="/images/error.jpeg" width="50%" height:500px/>
    </body>
</html>